body{
    background-color: black;
}

.box {
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 8px 18px;
  display: inline-flex;
  opacity: 0;
  animation: fadeIn 4s ease forwards;
  animation-delay: 1.8s;
  z-index: 2;
}

.typing-container {
  position: absolute;
  top: 500px;      /* distance from top */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background: rgba(0,0,0,0.6);
  border-radius: 4px;
  color: rgb(110, 110, 110);
  font-size: 1.2rem;
  z-index: 11;      /* above canvas/video */
}

/* Typing text and cursor */
.typing-box {
  display: flex;
  align-items: center;
}

.cursor {
  margin-left: 3px;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}